body {
  background-color: #beddef;
}

.news-feed {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}