body {
  background-color: #beddef;
}

.news-feed {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.searchBar {
  position: relative;
  display: inline-block;
}

.searchBar input {
  padding-right: 40px;
}

.searchBar > IconButton {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
